.content {
    display: flex;
    justify-content: space-between;
}

main {
    flex: 3;
    padding-right: 20px;
}

aside.sidebar {
    flex: 1;
    padding-left: 20px;
    border-left: 1px solid #ddd;
}

.sidebar h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 5px;
}
