<div class="sidebar">
  <!-- カテゴリ一覧 -->
  <h2>Categories</h2>
  <ul>
    {% for category in site.categories %}
      <li>
        <a href="{{ site.baseurl }}/categories/{{ category[0] | slugify }}/">{{ category[0] }}</a> ({{ category[1].size }})
      </li>
    {% endfor %}
  </ul>

  <!-- タグ一覧 -->
  <h2>Tags</h2>
  <ul>
    {% for tag in site.tags %}
      <li>
        <a href="{{ site.baseurl }}/tags/{{ tag[0] | slugify }}/">{{ tag[0] }}</a> ({{ tag[1].size }})
      </li>
    {% endfor %}
  </ul>

  <!-- 年月一覧 -->
  <h2>Archives</h2>
  <ul>
    {% assign months = site.posts | group_by_exp: "post", "post.date | date: '%Y/%m'" %}
    {% for month in months %}
      <li>
        <a href="{{ site.baseurl }}/archives/{{ month.name | date: '%Y/%m' }}/">{{ month.name | date: '%B %Y' }}</a> ({{ month.size }})
      </li>
    {% endfor %}
  </ul>
</div>
